body {
    background-color: rgb(247, 242, 199);
    }
#Mifoto {
width: 700px;
height: 1000px;
background-image: url("../Portafolio/imagenes/imagen1.jpg");
background-size: cover;
border: 2px solid black;
margin: 0 auto;
position: relative;
}
    .titulo {
            font-family: "Story Script", ;
            font-weight: 300;
            font-style: normal;
            font-size: 5em;
            text-align: center;
        }
        .titulo:hover {
            font-weight: 700;
            font-size: 5em;
            color:rgb(243, 200, 243);
            cursor: pointer;
        }
    .parrafo {
            color: rgb(155, 188, 253);
            font-size: 1.5em;
        }
 .parrafoo {
            color: rgb(0, 0, 0);
            font-size: 1em;
            font-style: italic;  
        }

        .parrafo1 {
            color: rgb(0, 0, 0);
            font-size: 1.5em;
        }
        .parrafo2 {
            color: rgb(155, 188, 253);
            font-size: 1.4em;
        }
         
        .parrafo3 {
            color: rgb(155, 188, 253);
            font-size: 1.4em;
        }
 
        .parrafo4 {
            color: rgb(155, 188, 253);
            font-size: 1.4em;
        }
 
        .parrafo5 {
            color: rgb(155, 188, 253);
            font-size: 1.4em;
        }
        
        .parrafo6 {
            color: chocolate;
            font-size: 1.8em;
            text-align: center;
        }
 
        .parrafo7 {
            color: rgb(253, 155, 180);
            font-size: 1.4em;
        }

        .parrafo8 {
            color: rgb(253, 155, 180);
            font-size: 1.4em;
        }

        .parrafo9 {
            color: rgb(253, 155, 180);
            font-size: 1.4em;
        }





html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h1 {
  font-size: 2em;
  font-style: italic;
  color: chocolate;
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: sans-serif;
}

#foto {
 height: 300px;
  border: chocolate solid 5px;
  margin-top: 15px;
}

.tituloPrediccion {
  font-size: 2em;
  font-style: oblique;
  color: olive;
}

.prediccion {
  font-size: 1.5em;
  font-style: italic;
  color: chocolate;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #efd388f0;
  color:olive;
  margin-bottom: 2em;
  cursor: pointer;
  font-style: oblique;
  font-weight: 1000px;
}


