body {
    background-color: rgb(247, 199, 243);
    }
    p {
    background-color: rgb(203, 225, 245);
    }
    .titulo {
            font-family: "Story Script", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 5em;
        }
        .titulo:hover {
            font-weight: 700;
            font-size: 5em;
            color: darkorange;
            cursor: pointer;
        }
    .parrafo {
            color: deepskyblue;
        }

    #ParrafoUnico {
            color: rgb(244, 0, 0);
        }
    #contenedor1 {
        width: 50vw;
        height: 80vh;
        border: 1px purple solid;
        margin: 15px;
        position: relative;
    }
    #contenedor2 {
        width: 50vw;
        height: 80vh;
        border: 1px blue solid;
        margin: 15px;
       display: flex;
       flex-direction: row-reverse;
       flex-wrap: wrap;
       align-content: space-around;
       justify-content: space-evenly;
       align-items: center;
    }

    @keyframes redondear  {
        0% {
            border-radius: 0%;
            background-color: darkmagenta;
        }
        50% {
            border-radius: 25%;
            background-color: forestgreen;
        }
        100% {
            border-radius: 50%;
            background-color: orange;
        }
        }
    .cuadrado {
        width: 31%;
        height: 31%;
        border: 1px beige solid;
        background-color: gold;
        margin: 15px;
        position:absolute;
        animation-name: redondear;
        animation-duration: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation: redondear 3s linear;
    }
     .cuadrado:hover {
        animation: redondear 3s linear infinite alternate;
        }

    .cuadrados {
        width: 31%;
        height: 31%;
        background-color: lightseagreen;
        border: 1px rgb(192, 253, 255) solid;
        margin: 15px;
    
    }
    #cuadro1 {
        top: 0%;
        left: 0%;
}
    #cuadro2 {
        top: 31%;
        left: 31%;
}
    #cuadro3 {
        top: 62%;
        left: 62%;
}
    #cuadrado1 {
        top: 0%;
        right: 0%;
}
    #cuadrado2 {
        top: 31%;
        right: 31%;
}
    #cuadrado3 {
        top: 62%;
        right: 62%;
}
#lienzo {
     width: 50vw;
        height: 80vh;
        border: 1px rgb(225, 245, 152) solid;
}